*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.gutter{
    width:80%;
    margin: 0 auto;
}

.split1{
    background-color: #34ADFF;
    background-image: -webkit-linear-gradient(150deg, #34ADFF 45%, #4CBFFF 45%);
}

nav{
    height:80px;
    font-size: 1.3rem;
    padding:10px;
}

nav a{
    color: #FFFFFF;
}

a img{
    border: 0;
    /*ie10 fix to remove border from icons*/
}

.nav-items{
    list-style: none;
}

.nav-items li{
    float: left;
    margin: 10px;
    cursor: pointer;
    font-size: 1.6rem;
}

.link{
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.icons-container{
    height: 20px;
    width: 200px;
    margin-left: auto;
}

.icon{
    float:left;
    width:50px;
    height:50px;
    margin-left: 15px;
}

.ham{
    width:50px;
    float: left;
    display:none;
    margin-top:-5px;
    margin-left:5px;
    cursor: pointer;
}

#home{

}

.headline{
    text-align: center;
    font-size: 6rem;
    padding-top:50px;
    font-family: 'Yellowtail', cursive;
}

.portrait{
    width:250px;
    height:250px;
    border-radius:50%;
    background-color: red;
    margin:20px auto;
    background-image: url("../pete.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote{
    font-size:1.8rem;
    text-align: center;
    padding-top:50px;
    padding-bottom:90px;
}


#portfolio{
    background-color: #ffffff;
    padding-bottom:500px;
}

.port-container{
    width:98%;
    margin: 0 auto;
    padding-top:25px;
}

.port-area{
    width:33.3%;
    float:left;
}

.port-pic{
    width:350px;
    height:350px;
    border-radius:50%;
    margin: 10px auto 0 auto;
}

.port1{
     background-image: url("../pilot.png");
     background-color: red;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

.port2{
    background-image: url("../cs.jpg");
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hide{
    display:none;
}

.port-text{
    width:80%;
    margin:5px auto;
    height:50px;
}

.port-text-font{
    color: #34ADFF;
    text-align:center;
    padding-top:15px;
    font-size:1.3rem;
}

.port-links{
    width:250px;
    margin:5px auto;
}

.demo{
    float:left;
    margin: 10px 5px;
    border-radius:50px;
    padding:4px 50px;
    background-color:#013A6B;
    font-family: 'Yellowtail', cursive;
    color: #FFFFFF;
    font-size:1rem;
    letter-spacing:1.5px;
}

.link-to-code{
    width:40px;
    height:40px;
    float:right;
    margin-top:5px;
}

/*#about{*/
    /*background-color: #013A6B;*/
    /*background-image: -webkit-linear-gradient(45deg, #013A6B 60%, #004E95 60%);*/
    /*height:500px;*/
/*}*/

/*#contact{*/
    /*background-color: #0C2C40;*/
    /*height:200px;*/
/*}*/


@media only screen and (max-width: 1150px) {
    .port-pic{
        width:250px;
        height:250px;
    }

}
@media only screen and (max-width: 1000px) {
    .port-area {
        width: 50%;
    }
    .nav-items li {
        font-size:1rem;
    }
    .hide{
        display:block;
    }
}
@media only screen and (max-width: 700px) {
    .nav-items {
        display: none;
    }
    .ham {
        display: block;
    }
    .headline {
        padding-top: 10px;
        font-size: 4rem;
    }
    .quote {
        font-size: 1.4rem;
        padding-top: 40px;
    }
    .port-area {
        width: 100%;
    }
}


