*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.gutter{
    width:80%;
    margin: 0 auto;
}

.split1{
    background-color: #34ADFF;
    background-image: -webkit-linear-gradient(150deg, #34ADFF 35%, #4CBFFF 35%);
}

nav{
    height:80px;
    font-size: 1.3rem;
    padding:10px;
}

nav a {
    color: #FFFFFF;
}

.nav-items{
    list-style: none;
}

.nav-items li{
    float: left;
    margin: 10px;
    cursor: pointer;
}

.nav-items li:hover{
    text-decoration: underline;
}

.icons-container{
    height: 20px;
    width: 200px;
    margin-left: auto;
}

.icon{
    float:left;
    width:50px;
    height:50px;
    margin-left: 15px;
}

.ham{
    width:50px;
    float: left;
    display:none;
    margin-top:-5px;
    margin-left:5px;
    cursor: pointer;
}



main{

}

#home{
    height:400px;
}

.headline{
    text-align: center;
    font-size: 6rem;
    padding-top:50px;
    font-family: 'Yellowtail', cursive;
}

.quote{
    font-size:1.8rem;
    text-align: center;
    padding-top:50px;
}

#portfolio{
    height:500px;
    background-color: #f2f2f2;
}

#about{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(45deg, #013A6B 45%, #004E95 45%);
    height:500px;
}

#contact{
    background-color: #0C2C40;
    height:500px;
}

@media only screen and (max-width: 625px) {
    .nav-items{
        display:none;
    }
    .ham{
        display:block;
    }
    .headline{
        padding-top:10px;
        font-size: 4rem;
    }
    .quote{
        font-size:1.4rem;
        padding-top:40px;
    }
    #home{
        height:300px;
    }
}